/* CSS Reset */
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

figure.icon {
  height: 24px;
}
figure.icon svg {
  height: 24px;
}
figure.icon figcaption {
  display: none;
}

:root {
  font-size: 10px;
}

body > header {
  width: 100%;
  background-color: #fcba03;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
}
body > header div.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}
body > header div.container h1 {
  font-size: 3.4rem;
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-variation-settings: "wght" 900;
  text-transform: uppercase;
}
body > header div.container button.new-todo {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid black;
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s ease;
  transition-property: background-color;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
body > header div.container button.new-todo figure {
  transition: 0.1s ease transform;
}
body > header div.container button.new-todo.opened figure {
  transform: rotate(45deg);
}
body > header div.container button.new-todo:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  body > header div.container button.new-todo {
    width: initial;
    padding: 0 10px;
    border-radius: 100px;
  }
}
body > header div.container button.new-todo span {
  display: none;
}
@media screen and (min-width: 768px) {
  body > header div.container button.new-todo span {
    display: initial;
    margin-left: 4px;
  }
}
body > header section.tags {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 4px 0px 4px 10px;
}
body > header section.tags h2 {
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";
  font-size: 2rem;
  font-weight: 600;
}
body > header section.tags ul {
  display: flex;
  gap: 4px;
  overflow: auto;
  flex-flow: row nowrap;
  width: 100%;
}
body > header section.tags ul button {
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  border-radius: 50px;
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";
  font-size: 1.5rem;
  transition: 0.1s ease background-color;
  cursor: pointer;
}
body > header section.tags ul button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
body > header section.tags ul button::before {
  content: "#";
  font-weight: 600;
  margin-right: 1px;
}

body > main {
  display: flex;
  flex-direction: column;
}
body > main form {
  background-color: rgba(252, 186, 3, 0.5);
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid black;
  height: 150px;
  transition: 0.2s ease;
  transition-property: height, display, background-color;
}
body > main form.color-selected.green {
  background-color: rgba(83, 84, 42, 0.75);
}
body > main form.color-selected.red {
  background-color: rgba(221, 115, 73, 0.6);
}
body > main form.color-selected.yellow {
  background-color: rgba(216, 148, 65, 0.75);
}
body > main form.color-selected.blue {
  background-color: rgba(94, 160, 172, 0.5);
}
body > main form:focus-within {
  height: 250px;
}
body > main form.collapsed {
  height: 0;
  display: none;
}
body > main form textarea {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";
  font-size: 1.75rem;
  padding: 10px;
  resize: vertical;
}
body > main form textarea::placeholder {
  color: rgba(0, 0, 0, 0.55);
}
body > main form button {
  margin: 8px;
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 50px;
  background-color: transparent;
  transition: 0.1s ease background-color;
  cursor: pointer;
}
body > main form button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
body > main form section {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 8px;
  margin-bottom: 10px;
}
body > main form section input[type=radio] {
  flex: 1;
  margin: 0;
  min-width: 10%;
  height: 30px;
  border: 2px solid black;
  border-radius: 100px;
  appearance: none;
  transition: 0.25s ease;
  transition-property: filter, flex;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
body > main form section input[type=radio]:hover {
  filter: brightness(110%);
}
body > main form section input[type=radio]:checked {
  flex: 100;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
}
body > main form section input[type=radio]:checked::after {
  opacity: 1;
}
body > main form section input[type=radio]::after {
  content: "ADICIONAR";
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";
  font-size: 2rem;
  color: #000;
  opacity: 0;
  transition: 0.1s ease-out;
}
body > main form section input[type=radio]#select-color__green {
  background-color: #53542a;
}
body > main form section input[type=radio]#select-color__red {
  background-color: #dd7349;
}
body > main form section input[type=radio]#select-color__yellow {
  background-color: #d89441;
}
body > main form section input[type=radio]#select-color__blue {
  background-color: #5ea0ac;
}
body > main section {
  margin-top: 10px;
}
body > main section ul {
  display: flex;
  flex-direction: column;
}
body > main section ul li {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 95%;
}
body > main section ul li article {
  background-color: #e6e6e6;
  color: #000;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  padding: 6px;
}
body > main section ul li article.green {
  background-color: #53542a;
  color: #fff;
}
body > main section ul li article.red {
  background-color: #dd7349;
  color: #000;
}
body > main section ul li article.blue {
  background-color: #5ea0ac;
  color: #fff;
}
body > main section ul li article.yellow {
  background-color: #d89441;
  color: #000;
}
body > main section ul li article h3 {
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";
  font-size: 1.85rem;
  font-weight: 600;
}
body > main section ul li article h3 strong {
  font-weight: 900;
  text-decoration: underline;
}
body > main section ul li article p {
  font-family: "Open Sans", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";
  margin-top: 4px;
}
body > main section ul li article p strong {
  font-weight: 700;
  text-decoration: underline;
}
body > main section ul li article p:nth-child(2) {
  margin-top: 8px;
}

/*# sourceMappingURL=style.css.map */
